@page "/import"
@model BlankyBlankLibrary.Pages.ImportLibraryModel

<form method="post">

    <div class="d-flex justify-content-center">
        <div class="form-floating me-3 w-50">
            <input class="form-control" asp-for="LibraryPath">
            <label asp-for="LibraryPath"></label>
        </div>
        <button type="submit" class="btn btn-primary">Import</button>
    </div>

    @if (Model.Notice != null) {
        <div class="alert alert-warning">
            @Model.Notice
        </div>
    }

</form>