@page "/login"
@model BlankyBlankLibrary.Pages.LoginModel;
@{
    ViewData["Title"] = "Login";
    ViewData["MenuItem"] = "Login";
}

<form method="post">
    <div class="mb-3">
        <label asp-for="Input.Username" class="form-label">Username</label>
        <input type="text" asp-for="Input.Username" class="form-control" />
    </div>
    <div class="mb-3">
        <label asp-for="Input.Password" class="form-label">Password</label>
        <input type="password" asp-for="Input.Password" class="form-control" />
    </div>
    <div class="form-check mb-3">
        <input class="form-check-input" type="checkbox" asp-for="Input.RememberMe">
        <label class="form-check-label" asp-for="Input.RememberMe">
            Remember me?
        </label>
    </div>
    <div class="mb-3">
        <button type="submit" class="btn btn-primary">Log in</button>
    </div>
</form>