@page "/passwords"
@model BlankyBlankLibrary.Pages.PasswordsModel
@{
    ViewData["Title"] = "Words";
}

<div class="row">

    <div class="col-6">

        <div class="card mb-3 h-100">

            <h5 class="card-header">Import Secret Prompts</h5>
            <form method="post" enctype="multipart/form-data" class="card-body">

                <p class="card-body">
                    
                </p>

                <hr>

                <div class="card-body">
                    <label asp-for="SecretPrompts" class="form-label"></label>
                    <input asp-for="SecretPrompts" class="form-control">
                </div>
                <div class="card-body">
                    <button type="submit" asp-page-handler="Import" class="btn btn-primary w-100">Import Word List</button>
                </div>
            </form>

        </div>

    </div>

    <div class="col-6">

        <div class="card mb-3 h-100">

            <h5 class="card-header">Export Secret Prompts</h5>
            <form method="post" class="card-body">

                <p class="card-body">
                    
                </p>

                <hr>

                <div class="card-body">
                    <button type="submit" asp-page-handler="Export" class="btn btn-primary w-100">Export Word List</button>
                </div>

            </form>

        </div>

    </div>

</div>