@page "/passwords"
@model BlankyBlankLibrary.Pages.PasswordsModel
@{
    ViewData["Title"] = "Passwords";
}

<table class="table">
    <thead>
        <th scope="col">Password</th>

    </thead>
    <tbody>
        @foreach (var password in Model.Passwords) {
            <tr>
                <td>@password.Password</td>
            </tr>
        }
    </tbody>
</table>