@page "/categories"
@model BlankyBlankLibrary.Pages.StructuresModel
@{
    ViewData["Title"] = "Categories";
}
<div class="accordion" id="StructuresStructuresStructures">
    @foreach (var structure in Model.Structures) {

        <div class="accordion-item">
            <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#StructuresStructuresStructures_@structure.Id">
                    @structure.Category
                </button>
            </h2>
            <div id="StructuresStructuresStructures_@structure.Id" class="accordion-collapse collapse" data-bs-parent="#StructuresStructuresStructures">
                <div class="accordion-body">
                    <h6>Sentance Structures</h6>
                    <ul class="list-group list-group-flush">
                        @foreach (var sentance in structure.Structures) {
                            <li class="list-group-item">
                                @sentance
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </div>

    }
</div>
